# Raw/uncompressed data - IGNORE
barrels/
compressed_barrels/
indexes/

# Data folder contains Git LFS tracked archives
# data/*.zip  <-- Tracked by Git LFS
# data/*.7z   <-- Tracked by Git LFS

# Python
__pycache__/
*.pyc

# Virtual environments
scispacy*/
env/
venv/

# OS
.DS_Store
Thumbs.db
